body,
html {
  min-height: 100%;
  width: 100%;
  max-width: 100vw;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

#__nuxt,
#__layout,
.layout-default {
  min-height: 100vh;
}

.page {
  padding-top: calc(#{$topnavHeightMobile} + 2rem);

  @include media-breakpoint-up(lg) {
    padding-top: calc(#{$topnavHeight} + 4rem);
  }
}

.btn {
  color: $secondary;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  transition: transform 0.1s;
  min-height: 38px;
  padding: 0.375rem 1rem;

  &:hover,
  &:focus,
  &:active {
    color: $secondary !important;
  }

  &:active {
    transform: scale(0.95);
  }
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  border: 8px solid $primary;
  border-bottom: 8px solid $tertiary;
  border-top: 8px solid $tertiary;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.shadow-up {
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.5),
    inset -1px -1px 0 0 rgba(0, 0, 0, 0.3), inset 1px 0 0 0 rgba(0, 0, 0, 0.3),
    0 4px 8px 0 rgba(0, 0, 0, 0.2) !important;
}

.shadow-up-dark {
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.2),
    inset -1px -1px 0 0 rgba(0, 0, 0, 0.3), inset 1px 0 0 0 rgba(0, 0, 0, 0.3),
    0 4px 8px 0 rgba(0, 0, 0, 0.2) !important;
}

.shadow-up-top {
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.5),
    inset -1px -1px 0 0 rgba(0, 0, 0, 0.3), inset 1px 0 0 0 rgba(0, 0, 0, 0.3) !important;
}

.shadow-down {
  box-shadow: inset 0 4px 8px 0px rgba(0, 0, 0, 0.2),
    inset 0px -1px 0px 1px rgba(255, 255, 255, 0.13);
}
input {
  filter: none;
  background: $white !important;
}

input:-webkit-autofill {
  background: $white !important;
}

.blurp {
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  background: #272727;
  color: $primary;
  font-weight: 600;
  line-height: 1.5;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 14px;
  text-align: center;
}

.big {
  font-size: 24px;
}

.bigger {
  font-size: 32px;
}

hr {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes spin2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
