body,
html {
  min-height: 100%;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

#__nuxt,
#__layout,
.layout-default {
  min-height: 100vh;
}

.page {
  padding-top: calc(#{$topnavHeight} + 4rem);
}

.btn {
  color: $secondary;
  text-transform: uppercase;
  font-weight: 600;

  &:hover,
  &:focus {
    color: $secondary;
  }
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  border: 8px solid $primary;
  border-bottom: 8px solid $tertiary;
  border-top: 8px solid $tertiary;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes spin2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
