@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&display=swap');

h1 {
  color: $secondary;
  margin-bottom: 3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

b {
  font-weight: 600;
}

.text-tertiary {
  color: $tertiary;
}
