.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s linear;
}

.fade-enter,
.fade-enter-from,
.fade-leave-to,
.fade-leave-active {
  opacity: 0;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.15s linear;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
