$primary: #f0f;
$secondary: #ff0;
$tertiary: #0ff;

$white: #e5e5e5;
$light: #aaa;
$dark: #333;
$darker: #272727;

$body-bg: $dark;
$body-color: $light;

$font-family-base: Oswald, sans-serif;
$font-weight-base: 300;

$topnavHeight: 72px;
