$primary: #f0f;
$secondary: #ff0;
$tertiary: #0ff;

$white: #d0d0d0;
$light: #aaa;
$medium: #444;
$dark: #333;
$darker: #272727;

$body-bg: $dark;
$body-color: $light;

$font-family-base: Oswald, sans-serif;
$font-weight-base: 300;

$topnavHeightMobile: 50px;
$topnavHeight: 72px;
